# Directorios comunes
/.idea
/.vscode
/target
/bin

# Archivos de sistema
*.log
*.iml
.DS_Store

# Archivos personales / config sensibles
.env
*.env
application.properties

# Archivos temporales
*.class
*.swp
*.bak